.stepwise-headline {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #5D95AB;    
}

.stepwise-para {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: #E5E5E5; 
    margin-right: 5%;
    margin-left: 5%;
       
}

.button-row {
    display: flex;
    font-family: 'Raleway';
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    /* margin-left: 2px; */
}

.stepwise-button {
    background: #5D95AB;
    border-radius: 30px;
    margin-right: 10%;
    color: beige;
    margin: 2px !important;
}

@media (min-width: 1200px){
.youtube-container {
    width: 70%;
    height: 85vh;
}
}

@media (max-width: 1200px){
    .youtube-container{
        width: 90%;
        height: 600px;
    }
}

@media (max-width: 750px){
    .youtube-container{
        width: 90%;
        height: 300px;
    }
}

/* @media screen and (max-width: 750px) {
    .youtube-container {
        width: 100%;
        height: auto;
    }
  } */

.ca_img {
    height: auto;
    width: auto;
}