.stepwise-headline {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #5D95AB;    
}

.stepwise-para {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    color: #E5E5E5;    
}

.button-row {
    display: flex;
    font-family: 'Raleway';
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
    margin-left: 0px;
}

.stepwise-button {
    background: #5D95AB;
    border-radius: 30px;
    margin-right: 10%;
    color: beige;
}

.youtube-container {
    width: 70%;
    height: 100vh;
}

.ca_img {
    height: 100%;
    width: auto;
}